.page {
 margin-left: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.submittedContainer > ul {
 list-style-type: none;
 padding: 0;
}

.submittedContainer > ul li {
  margin-bottom: 5px;
 }
 
 .submittedContainer > ul li a {
  color: black;
 }
 
 .submittedContainer > ul li a:hover {
  opacity: 50%;
 }

.evenResult {
 
}

.oddResult {
 background-color: rgb(228, 238, 255);
}

.deleteBtn {
 background-color: red;
 border: none;
 border-radius: 5px;
 width: 70px;
 height: 30px;
 color: white;
 font-size: 15px;
}

.deleteBtn:hover {
 opacity: 75%;
 transform: scale(1.1);
 transition: 0.2s;
}